html,body {
    position: relative;
    height: 100%;
    width: 100%;
}

/*page*/
.page {
    position: relative;
    height: 2000px;
    width: 100%;
}
#top {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 50px;
    right: 50px;
    display: none;
    cursor: pointer;
    background-color: rgba(52, 52, 52, 0.5);
} 
#top a {
    display: block;
    text-align: center;
}
#top a img {
    height: 24px;
    width: auto;
    margin-top: 13px;
}